@{
    ViewBag.Title = "Manage Page";
}
@section styles{
    <link href="~/Content/styles/Booking.css" rel="stylesheet" type="text/css" />
}

<div class="container-fluid btnSearch">
    <form class="d-flex" role="search" action=@Url.Action("SearchRoom", "Room") method="post">
        <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-success" style="margin-top: 1%">Add room</button>
</div>

@*thêm thông tin*@
<div class="w3-container big-addRoom ">

    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="position: relative;">
            <div class="w3-center">
                <i class="w3-circle w3-margin-top fas fa-hotel" style="color: #0026ff; font-size: 32px;"></i>
            </div>
            <form class="w3-container" action="create" method="post">
                <div class="w3-section">

                    <label><b>Type</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Type" name="type" required>
                    <label><b>Price</b></label>
                    <input class="w3-input w3-border" type="number" placeholder="Enter Price" name="price" required>
                </div>
                <button type="submit" class="btn btn-info" style="margin-left: 0; margin-bottom: 1%;">Save</button>
            </form>
            <div class="w3-container w3-padding" style=" width: 10%; position: absolute; bottom: 0; right: 0;">
                <button class="btn btn-danger w3-right w3-border"
                        onclick="document.getElementById('id01').style.display='none'">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="room-list">
    <p>Room List</p>
    <div class="room-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col" class="col-md-2">ID</th>
                    <th scope="col">Type</th>
                    <th scope="col" class="col-md-2">Price</th>
                    <th scope="col" class="col-md-2">Love</th>
                    <th scope="col" class="col-lg-2">Status</th>
                    <th scope="col" class="col-lg-2">Action</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 1;}
                @foreach (var item in ViewBag.Rooms)
                    {
                <tr>
                    <th scope="row">@i</th>
                    <td>@item.id</td>
                    <td>@item.r_name</td>
                    <td>@item.price</td>
                    <td>@item.love</td>
                    <td>@item.status</td>
                    <td>
                        <i class="fa-solid fa-pen" onclick="document.getElementById('@i-fix').style.display='block'"></i>
                        <i class="fas fa-trash fa-white" onclick="document.getElementById('@i-delete').style.display='block'"></i>
                    </td>
                </tr>

                @*Sửa thông tin*@
                <div class="w3-container">
                    <div id="@i-fix" class="w3-modal">
                        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="position: relative;">
                            <div class="w3-center">
                                <i class="w3-circle w3-margin-top fas fa-hotel" style="color: #0026ff; font-size: 32px;"></i>
                            </div>
                            <form class="w3-container" action="updateroom/@item.id" method="post">
                                <div class="w3-section">
                                    <label style="margin-left: 2%;"><b>Type</b></label>
                                    <input class="w3-input w3-border w3-margin-bottom" style="margin-left:2%; width: 90%;" type="text" value="@item.r_name" name="type" required>
                                    <label style="margin-left: 2%;"><b>Price</b></label>
                                    <input class="w3-input w3-border w3-margin-bottom" style="margin-left:2%; width: 90%;" type="number" value="@item.price" name="price" required>
                                    <label style="margin-left: 2%;"><b>Status</b></label>
                                    <input class="w3-input w3-border w3-margin-bottom" style="margin-left:2%; width: 90%;" type="text" value="@item.status" name="status" required>
                                </div>
                                <button type="submit" class="btn btn-info" style="margin-left: 2%; margin-bottom: 1%;">Save</button>
                            </form>
                            <div class="w3-container w3-padding" style=" width: 10%; position: absolute; bottom: 0; right: 6%;">
                                <button class="btn btn-danger w3-right w3-border"
                                        onclick="document.getElementById('@i-fix').style.display='none'">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                @*Xóa thông tin Phòng*@
                <div class="w3-container">
                    <div id="@i-delete" class="w3-modal">
                        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="position: relative;">
                            <div class="w3-center">
                                <i class="w3-circle w3-margin-top fas fa-hotel" style="color: #0026ff; font-size: 32px;"></i>
                            </div>
                            <form class="w3-container" action=@Url.Action("DeleteRoom", "Room", new { id = @item.id}) method="post">
                                <div class="w3-section">
                                    <label style="margin-left: 2%;"><b>Type</b></label>
                                    <input class="w3-input w3-border w3-margin-bottom" style="margin-left:2%; width: 90%;" type="text" value="@item.r_name" name="type" readonly>
                                    <label style="margin-left: 2%;"><b>Price</b></label>
                                    <input class="w3-input w3-border w3-margin-bottom" style="margin-left:2%; width: 90%;" type="number" value="@item.price" name="price" readonly>
                                    <label style="margin-left: 2%;"><b>Love</b></label>
                                    <input class="w3-input w3-border w3-margin-bottom" style="margin-left:2%; width: 90%;" type="number" value="@item.love" name="love" readonly>
                                    <label style="margin-left: 2%;"><b>Status</b></label>
                                    <input class="w3-input w3-border w3-margin-bottom" style="margin-left:2%; width: 90%;" type="text" value="@item.status" name="status" readonly>
                                </div>
                                <button type="submit" class="btn btn-info" style="margin-left: 2%; margin-bottom: 1%;">Delete</button>
                            </form>
                            <div class="w3-container w3-padding" style=" width: 10%; position: absolute; bottom: 0; right: 6%;">
                                <button class="btn btn-danger w3-right w3-border"
                                        onclick="document.getElementById('@i-delete').style.display='none'">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                        i++;
                    }
            </tbody>
        </table>
    </div>
</div>
<div style="margin-top: 345px"></div>
<p style="text-align: center; font-size: 20px">&copy; 2023 team 1</p>

