@model HotelManage.Models.Booking

@section styles{
    <link href="~/Content/styles/deletebooking.css" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="alertDlt">
    <p class="titleDlt">Delete</p>
    <hr />
    <p>Are you sure you want to delete this?</p>
</div>

<div class="big-table">

    <table class="table info-table"> 
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.r_id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.c_id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.checkin)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.checkout)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.r_id)</td>
                <td>@Html.DisplayFor(model => model.c_id)</td>
                <td>@Html.DisplayFor(model => model.checkin)</td>
                <td>@Html.DisplayFor(model => model.checkout)</td>
            </tr>
        </tbody>
    </table>
    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color btn-dlt">
        <input type="submit" value="Delete Booking"/> |
        <a href="@Url.Action("Booking", "Room")">Back to List</a>
    </div>
    }
    
</div>